.league-menu-bar {
  list-style-type: none;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center; /* Center the options within the bar */
}

.league-menu-bar-item {
  color: white;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 18px;
  text-transform: uppercase;
}

/* Center the text within each option */
.league-menu-bar-item a {
  display: flex;
  align-items: center;
}
